html {
	font-size: 13px;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0 1em 1em 1em;
}

@media screen and (min-width: 500px) {
	html {
		font-size: 16px;
	}
}

h1 {
	font-size: 2.8rem;
}

header, 
main {
	padding-left: 1em;
}

footer {
	margin-top: 2rem;
	padding-top: 0.6rem;
	border-top: 2px solid #AAA;
	font-size: 0.85rem;
	color: #888;
}

footer p {
	margin: 0 0 0.5rem 0;
}

footer a {
	font-weight: bold;
	color: #777;
}

footer a:visited {
	color: #666;
}

/* 63 x 88*/
.card {
	position: relative;
	box-sizing: border-box;
	margin: 1.2rem;
	padding: 1.2rem;
	width: 12.6rem;
	height: 17.6rem;
	font-size: 1.2rem;
	line-height: 1.65rem;
	border-radius: 0.6em;
}

#answer {
	color: #777;
	border-color: #777;
}

#answer.chosen {
	color: black;
	border-color: black;
}

#answer:-moz-drag-over {
	border-color: black;
}

#choose {
	margin: 1.2rem;
	padding: 0.4rem 0.8rem;
	border-radius: 0.6em;
	border: 2px solid #333;
	background-color: #CCC;
	color: black;
	font-size: 0.8rem;
}

.word {
	display: block;
	width: 100%;
	height: 1.4rem;
	border-bottom: 1px solid white;
	margin-bottom: 0.15rem;
}

.game a {
	text-decoration: none;
	color: black;
}

.card img {
	position: absolute;
	bottom: 1em;
	left: 1em;
}

.card.black {
	background-color: black;
	color: white;
}

.word.black {
	border-bottom: 1px solid white;
}

.card.white {
	background-color: white;
	color: black;
	border: 2px solid black;
}

.word.white {
	border-bottom: 1px solid black;
}

.card.cah,
.card.cow {
	background-position: bottom left;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: 28px;
}
.card.cah.white {
	background-image: url("../img/cah-logo-white.svg");
}
.card.cah.black {
	background-image: url("../img/cah-logo-black.svg");
}
.card.cow.white {
	background-image: url("../img/cow-white.svg");
}
.card.cow.black {
	background-image: url("../img/cow-black.svg");
}

.card-stack {
	display: flex;
    flex-wrap: wrap;
}

